streamlit==1.32.1
streamlit-chat==0.1.1
streamlit-pdf-viewer==0.0.12
st-pages==0.4.5
langchain==0.1.12
langchain-cohere==0.1.2
langchain-community==0.0.28
langchain-core==0.1.42
langchain_openai==0.0.8
langchain-text-splitters==0.0.1
langchain_experimental==0.0.54
langchainhub==0.1.15
langgraph==0.0.30
langserve
chromadb==0.4.24
pymupdf
python-docx
plotly
unstructured
unstructured[pdf]
sentence-transformers==2.5.1
unstructured
unstructured[pdf]
python-dotenv